<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fluent_Note.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Fluent_Note.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="colortop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextWrap" serializeAs="String">
                <value>NoWrap</value>
            </setting>
            <setting name="Opc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TextAling" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="AjusteTexto" serializeAs="String">
                <value>0</value>
            </setting>
        </Fluent_Note.Properties.Settings>
    </userSettings>
</configuration>
